<section class="surgeries">
  <h3>Surgery:</h3>
  <%=@surgery.title%><br>
  <%=@surgery.day%><br>
  <%=@surgery.room%><br><br>

  <ul>
  <h3>Most Experienced Doctor on Staff:</h3>
    <div id="doctors-most-ex">
      <%= @experienced_docs.name %>
      <%= @experienced_docs.years %>
    </div>
  </ul>

  <ul>
  <h3>Least Experienced Doctor on Staff:</h3>
    <div id="doctors-least-ex">
      <%= @inexperienced_docs.name %>
      <%= @inexperienced_docs.years %>
    </div>
  </ul>
</section>

<body>
  <div class="add-doctor">
    <%= form_with url: surgery_path(@surgery.id), method: :put do |form| %>
      <%= form.label :name, "Doctor Name:" %>
      <%= form.text_field :name %>
      <%= form.submit "Add Doctor" %>
    <% end %><br><br>
  </div>
</body>
